.contactDiv {
    min-width: 150px;
}

.addContactButton {
  float: right;
  margin-top: 25px;
}

.contactsHeader {
  display: inline-block;
}

.jbtn {
  width: 100%;
  text-align: left;
}

.selected {
  background-color: blue;
  color: white;
}